body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 70px; /* Ajusta según la altura de tu navbar */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.header-left {
    display: flex;
    align-items: center;
}

.barra {
    height: 35px; 
    margin-right: 10px;
    margin-left: 8px;
    z-index: 3;
}

.logo {
    height: 60px;
    margin-right: 10px;
    margin-top: 15px;
}

.header-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
}

.header-right {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    z-index: 4;
}

.section-title-1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 4.5%;
    margin-top: 30px; /* Ajustado para bajar el título */
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.latest-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.wine-post {
    width: 300px;
    height: 450px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.wine-post:hover {
    transform: scale(1.05);
}

.wine-post-header {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-img {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
}

.wine-post-content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.wine-post h3 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #333;
}

.quote {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
    flex-grow: 1;
}

.butn {
    align-self: center;
    display: inline-flex;
    background-color: #000;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.butn:hover {
    background-color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .wine-post {
        width: 100%;
        max-width: 350px;
    }
}